* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(200px, auto);
}

div{

    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    position: relative;
    border-radius: 5px;
}

h2{
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 1.5rem;
}